.container {
  margin: 0 20px;
}

.loader {
  margin-top: 56px;
  width: 119px;
}

.header-content{
  display: flex;
  align-items: center;
}

.header-form {
  display: flex;
  justify-content: space-between;
}

.header__input {
  height: 26.57px;
  width: 85%;
  border: 5px solid #d9d9d9;
  background: #fff;
  color: #909090;

  font-family: "IBM Plex Mono";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__btn {
  height: 38.57px;
  font-family: "IBM Plex Mono";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 5px solid #d9d9d9;
  background: #fff;
  color: black;
  cursor: pointer;
}

.navigation {
  font-family: "IBM Plex Mono";
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.navigation-rating{
  display: flex;
  margin-top: 10px;
}

.navigation__link {
  text-decoration: none;
  color: blue;
}

.navigation__arrow {
  margin-right: 10px;
  margin-left: 10px;
}

.rating__text {
  margin-top: -4px;
  margin-left: 10px;
}

.main-content {
  display: flex;
  justify-content: space-around;
  margin-top: -20px;
}

.column {
  text-align: center;
}

.column__title {
  color: #000;
  font-family: "IBM Plex Mono";
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.column-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 283px;
  min-height: 390px;
  flex-shrink: 0;
  margin-top: -10px;
}

.column-area.dragged-over {
  margin-bottom: 120px;
}

.column-item {
  width: 252px;
  height: 144px;
  border: 1px solid black;
  flex-shrink: 0;
  border-radius: 14px;
  background: #fff;
  margin-top: 20px;
  text-align: start;
  padding-left: 10px;
  transition: opacity 0.3s ease;
}

.column-item.dragged {
  z-index: 1;
  box-shadow: 0 0 10px rgb(255, 0, 0);
  opacity: 0.75;
  cursor: grabbing;
}

.column-item:hover {
  cursor: grab;
}

.item__header {
  margin-bottom: -10px;
  font-weight: bold;
}

.item__text {
  color: #666666;
  margin-bottom: -10px;
}

.item__status {
  color: #666666;
}

.column-area.dragged-over {
  margin-bottom: -20px;
}

.ant-list {
  margin-top: 55px;
}

.ant-row {
  margin-left: -5px;
  margin-right: -5px;
  display: flex;
  justify-content: center;
}

.ant-card-head {
  background-color: #dedede !important;
}

.ant-card-body {
  border: 1px solid #e1e1e1;
}
